.diet-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110%;
}

.step-heading {
  font-size: 64px;
  padding-top: 0.5em;
  color: white;
  text-align: center;
  animation: fade-up 1s;
}

.information-text {
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  animation: fade-up 1s ease-out;
  color: white;
  margin-bottom: 3.5rem;
}

.search-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  width: 90% !important;
}

.diet-details-container .search-bar {
  min-height: 45px !important;
  padding: 12px 20px 12px 70px !important;
  font-size: 18px;
}

.search-icon {
  width: 25px !important;
  height: 25px !important;
}

.diet-details-container .search-button {
  padding: 8px 12px !important;
  max-height: 40px !important;
  right: 3px !important;
}

.searchbar-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
}

.food-chips-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 30px;
}

.food-chips-container .diet-chip {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.7rem 1.2rem;
  animation: fade-up 1s ease-out forwards;
}

.diet-chip,
.diet-chip.selected {
  background: #212f24;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: white;
  border-radius: 50px;
  border: none;
  padding: 0.9rem 2.6rem;
  opacity: 0;
  transform: translateY(30px) scale(0.9);
  animation: fade-up 1s ease-out forwards;
}

.diet-chip:hover,
.diet-chip.selected:hover {
  background: #bc9c85;
  color: black;
}

.diet-chip:active {
  background: #ece8e5;
}

.diet-chip.selected {
  background: #ece8e5;
  color: black;
}

.chip {
  background: none;
  border: none;
  background-image: url("../../assets/X-white.png");
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.diet-chip:hover .chip {
  background-image: url("../../assets/X-black.png");
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
