.section {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.hero {
  background-color: #667754;
  padding: 40px;
  text-align: center;
  color: white;
  align-items: center;
  
}
  
.split-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 40px;
    flex-wrap: wrap;
    column-gap: 100px;
  }
  
.left-box,
.right-box {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  height: 100%;
}

.left-box
{
  justify-content: center;
  align-items: center;
}

.split-section .right-box {
  flex: 0 0 auto;       
  height: auto;      
  max-width: 500px;   
}

.right-text,
.left-text {
  flex: 1;
  padding: 20px;
}

.right-text h2,
.left-text h2 {
font-weight: bold;
font-size: 2.5rem;
margin-bottom: 30px;
}

.right-text p,
.left-text p {
  margin-top: 10px;
  font-size: 2.25rem;
  line-height: 1.6;
}
  
.send-button {
  font-family: "Josefin Sans", sans-serif;
  padding: 12px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 25px;
  background-color: #212f24;
  color: white;
  cursor: pointer;
  box-shadow: inset 0 0 0 2px white, 0 0 10px rgba(0, 0, 0, 0.3);
  padding-top: 15px;
}
  
input,
textarea {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  width: 350px;
  height: 35px;
  border-radius: 7px;
  border: 0;
  text-indent: 9px;
  margin-top: 12px;
  margin-bottom: 12px;
}

textarea {
    height: 150px;
    resize: vertical;
    padding-top: 9px;
  }
