.signup-container,
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link-no-underline {
  text-decoration: none;
}

.step-heading {
  font-size: 50px;
  padding-top: 50px;
}

form {
  gap: 20px;
}

input {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  width: 250px;
  height: 30px;
  border-radius: 7px;
  border: 1;
  text-indent: 5px;
}
