.signup-container,
form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signup-container {
  background-color: #667754;
  min-height: 100vh;
  padding-top: 10px;
}

.link-no-underline {
  text-decoration: none;
}

.site-name {
  color: white !important;
  font-weight: 400 !important;
}

.form {
  flex: 1;
}

.step-heading {
  font-size: 64px;
  padding-top: 0.5em;
  color: white;
  text-align: center;
}

.error-message {
  color: #ffa1a1;
}

.navigation {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 0rem;
}

.nextButton,
.backButton {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
}

.right-arrow,
.left-arrow {
  height: 50px;
  width: 50px;
  padding-left: 10px;
}

.left-arrow {
  transform: scaleX(-1);
}
